@import url('https://fonts.googleapis.com/css2?family=Borel&family=Edu+SA+Beginner&display=swap');

:root{
    font-size: 22px;
}

body{
    background-color: rgb(147, 147, 229);
    font-family: 'Courier New', Courier, monospace;
}

div{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.destacado{
    font-weight: bold;
}

p{
    font-size: 1.2em;
}

.publi{
    font-family: 'Borel', cursive;
    font-size: 24px;
    font-weight: bold;
}

span{ /* shorthand - atajo */
    font: bold 24px 'Edu SA Beginner', cursive;;
}

